{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- TODO Query 6  
        Display All Relevant Podcast Infromation including meta data
        Display All Relevant Podcast Episodes for this Podcast
        -->
        <h2 class="title"> Podcast Episode ID: {{podcaststep[0].podcast_id}}</h2>
        <h2 class="title"> Podcast Episode Title: {{podcaststep[0].podcast_title}}</h2>
        <h2 class="title"> Podcast Episode URI: {{podcaststep[0].podcast_uri}}</h2>
        <h2 class="title"> Date published: {{podcaststep[0].podcast_episode_published_date}}</h2>
        
        
            <hr/>
            <h3> Artworks </h3>
            {% for instance in podcaststep %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" height = 500 weight = 500>
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in podcaststep %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Genres </h3>
            {% for instance in podcaststep %}
                {% if instance.md_type_name == 'podcast genre' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
                <h3> Copyright Holder </h3>
            {% for instance in podcaststep %}
                {% if instance.md_type_name == 'copyright holder' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <br/>
            <br/>
            <br/>
            <div>
    </div>
</div>
{% include 'bottom.html'%}